extends ../layout/main

block VARIABLES
  - var pageTitle = 'About Us';

block PRE_BODY


block BODY
  .content-about
    p This is an about us page
    a(href=URL.home) Return back home


block POST_BODY