extends ../layout/main

block VARIABLES
  - var pageTitle = 'Home';

block PRE_BODY


block BODY
  .content-home
    h2 Drive results with social media marketing services

    p Almost 75% of people use social media when making a purchase decision. It’s a critical touchpoint for shoppers in the business-to-consumer (B2C) and business-to-business (B2B) industry, which is why companies invest in professional social media services.

    p With a client recommendation score that exceeds the industry average by 488 percent, WebFX is a trusted choice for social media marketing services. As your partner, we’ll help your business improve its brand awareness, customer loyalty, revenue, and more.

    p: a(href=URL.aboutUs) Go to about us page


block POST_BODY