@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.header,
.footer {
	height: 100px; line-height: 100px;
	text-align: center;
	background: #eee;
	color: #333;
	font-weight: bold;
	font-size: 30px;
}